*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/jMonkey/*/dist/**
/jMonkey/*/nbproject/**
/jMonkey/*/build/**
**/private.properties
jMonkey/**/private.properties
jMonkey/BasicGame/nbproject/private/private.properties
jMonkey/JmeTests/nbproject/private/private.properties